page-collect {
    .scroll-content {
        display: flex;
        align-items: center;
        justify-content: center;
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .img-box {
                width: 120px;
                height: 120px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 1px solid #333;
                }
            }
        }
    }
    .toolbar-background {/* Background Gradient for Analagous Colors */
        background: linear-gradient(to right, rgb(255, 182, 193), rgb(250, 109, 178));
    }
    .toolbar-title {
        color: #fff;
        font-weight: normal;
    }
    .logined-collect {
        width: 100%;
    }
    .collect-list {
        padding-top: 14px;
        &>div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #666;
            .left-box{
                display: flex;
                align-items: center;
                padding: 10px 0 10px 10px;
                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
            .right-box {
                margin-right: 10px;
                font-size: 16px;
                span {
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }
}
