<ion-header>
  <ion-navbar>
    <ion-title>
      收藏
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class='main'>
  <div *ngIf='isLogin' class='logined-collect'>
    <ion-list class='collect-list'>
      <div *ngFor='let item of list'>
        <div class='left-box'>
          <img src='{{item.src}}'>
          <span>{{item.name}}</span>
        </div>
        <div class='right-box'>
          <span>{{item.num}}</span>
          <ion-icon name='arrow-forward'></ion-icon>
        </div>
      </div>
    </ion-list>
  </div>
  <div *ngIf='!isLogin' class='content'>
    <div class='img-box'>
      <img src='http://dummyimage.com/120x60'>
    </div>
    <p>登录享受更多功能</p>
    <button ion-button (tap)='toLogin($event)' round outline>登录</button>
  </div>
</ion-content>
