<ion-card class='card-girl'>
    <ion-item class='card-head'>
    <ion-avatar item-start>
        <img src='{{avator}}'>
    </ion-avatar>
    <h2>{{type}}原来是系公举殿下</h2>
    <p>52分钟前 阅读1.2k</p>
    <ion-icon item-end name='arrow-down' (tap)='tapMore($event)'></ion-icon>
    </ion-item>
    <ion-list class='card-list'>
    <div class='card-item' *ngFor='let item of items' (tap)='toPreview($event)'>
        <img src='{{item}}'>
    </div>
    </ion-list>
    <ion-card-content>
    <p>[小视频]三碗粉感谢福利 <br /> 第一次尝试野外露出</p>
    <p>
        <ion-badge>编辑推荐</ion-badge>
        <ion-badge>独家</ion-badge>
        <ion-badge>原创</ion-badge>
        <ion-badge>可下载</ion-badge>
    </p>
    </ion-card-content>
    <ion-row class='btn-list' align-items-center justify-content-center>
        <ion-col text-center (tap)='follow($event)'>
            <ion-icon name='star-outline' class='follow'></ion-icon>
            <span>5</span>
        </ion-col>
        <ion-col text-center (tap)='toComment($event)'>
            <ion-icon name='chatboxes-outline' class='chat'></ion-icon>
            <span>5</span>
        </ion-col>
        <ion-col text-center (tap)='like($event)'>
            <ion-icon [name]='likeIcon' [ngClass]='(islike == true) ? "hold-on": ""'></ion-icon>
            <span>5</span>
        </ion-col>
        <ion-col text-center (tap)='download($event)'>
            <ion-icon name='download-outline' class='download'></ion-icon>
            <span>5</span>
        </ion-col>
    </ion-row>
</ion-card>